*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Underdog', cursive;
}

:root{
    --body-color: #1f242d;
    --header-color: #323946;
    --text-color: #fff;
    --side-nav: #323946;
    --main-color: #4ba2a8;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

body.light{
    --body-color: #cbcbcb;
    --header-color: #e3e3e3;
    --text-color: #3a3a3a;
    --side-nav: #e3e3e3;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--header-color);
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    margin-right: auto;
    animation: slideRight 1s ease forwards;
    text-shadow: 2px 5px 5px var(--main-color);
}

.nav-links a{
    display: inline-block;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
//padding: 10px;
    margin-right: 25px;
    transition: .3s;
    animation: slideRight .5s ease forwards;
}

.nav-links a.active{
    color: var(--main-color);
}

.nav-links a:hover{
    color: var(--main-color);
}

#lightMode-icon{
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}

#menu-icon{
    font-size: 20px;
    color: var(--text-color);
    display: none;
}

.lightDark-mode i:hover{
    color: var(--main-color);
}

.lightDark-mode{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: .3s;
    animation: slideRight .5s ease forwards;
}

.lightDark-mode i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lightDark-mode i.moon{
    opacity: 0;
    pointer-events: none;
}

.lightDark-mode.active i.moon{
    opacity: 1;
    pointer-events: auto;
}

.lightDark-mode.active i.sun{
    opacity: 0;
    pointer-events: none;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
}

.home-pic img{
    width: 35vw;
    max-width: 450px;
    margin-right: 50px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.home-text{
    max-width: 600px;
}

.home-text h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-text h3:nth-of-type(2){
    margin-bottom: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-text h3 span{
    color: var(--main-color);
}

.home-text h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-text p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.biography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.naslov{
    font-size: 30px;
    text-align: center;
}

.biography-pic{
    position: relative;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biography-pic img:hover{
    transform: scale(1.2);
}
.biography-pic img{
    width: 100%;
    transition: 0.5s;
}

.biography-text{
    text-align: center;
}

.biography-text h3{
    font-size: 26px;
    color: var(--main-color);
}

.biography-text p{
    font-size: 16px;
    margin: 2rem 0 1rem;
}

.heading{
    text-align: center;
    font-size: 40px;
    padding-bottom: 9px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.skills{
    min-height: auto;
//padding-bottom: 7rem;
    background: var(--body-color);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 25px;
    margin: 0 0 15px;
    color: var(--main-color);
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--body-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.portfolio{
    background-color: var(--body-color);
    padding-bottom: 10rem;
    align-items: center;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 25px;
}

.portfolio-content .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 16px;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--body-color);
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 30px;
}

.contact p{
    font-size: 20px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--side-nav);
    box-shadow: 0 0 10px var(--main-color);
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-width: 790px){
    #menu-icon{
        display: block;
    }

    .nav-links{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--side-nav);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .nav-links.active{
        display: block;
    }

    .nav-links a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .nav-links a:nth-child(1),
    .nav-links a:nth-child(2){
        color: var(--text-color);
    }

    .nav-links a.active{
        color: var(--main-color);
    }

    .lightDark-mode{
        margin-right: 15px;
    }
}